
<p>{{slip?.advice}}</p>
<img scr=" https://cataas.com/cat" alt="cat" *NgIf="true"/>
<img scr=" https://cataas.com/cat/gif" alt="cat-gif" *NgIf = true/>
<div container="row">
  <div class="col-12 text-center my-4 d-flex  bg-dark text-light pang ">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem rem amet excepturi itaque, fugiat ullam sequi, reprehenderit sed cupiditate libero voluptatibus, fuga cumque officiis laboriosam ad maxime expedita aliquid.
    In vel quam unde iure, nobis non dolor. Sint architecto officia blanditiis unde dicta odio, dolorum inventore veniam quas consequatur laborum porro cumque assumenda aliquid neque reiciendis ipsa! Iusto, fuga?
    Suscipit sunt, facere aliquid eum laudantium aspernatur dolores at provident odit! Sit, vitae ad cum eligendi molestiae nobis fuga dolorum magni libero temporibus eveniet consequuntur nostrum, maxime assumenda! Quis, doloremque?</p>
  </div>

<div>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEDUFaI9IGJo6ViIDK9TElhe2GeKe-RN7QL3I5GvwP&s" class="rounded mx-auto d-block" alt="foto teste gato">

</div>

<div class="d-grid gap-2 col-6 mx-auto ">
  <button class="btn btn-dark" type="button">Imagem</button>
  <button class="btn btn-dark" type="button">gif</button>
</div>


<!-- </div> -->

<!--
  <div class= "row">
    <div class= "col-12">
      <button>Imagem</button>
    </div>

<div class= "row">
<div class= "col-12">
<button>Imagem</button> -->

<!-- </div> -->

</div>
